*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
li:hover{
text-decoration: underline;
}
img {
	vertical-align: top;
}
h1,
h2,

h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: #252b42;
	font-family: Montserrat;
	background-color:  #f3f3f3;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/*----------------header block--------------*/
.header__block {
	text-align: center;
	line-height: 142%;
	letter-spacing: 0.2px;
	font-weight: 700;		
}

.header__block-title{
	font-size: 40px;
	line-height: 142.5%;
	padding: 20px;
}
.header__block-title:not(:last-child){
	padding: 0px 0px 10px 0px;
}
.header__block-subtitle{
	color: #737373;
	line-height: 142%;
	font-weight: 500;
	font-size: 20px;
	margin: 25px 10px;
}
@media (max-width: 992px) {
	.header__block-title {
		font-size: 30px;
	}
	.header__block-subtitle{
		font-size: 12px;
	}
}

@media  (max-width: 479px ) {
	.menu__item {
		font-size: 14px;
	}
}
/*----------------------------Header-----------------------*/

.header {
	margin: 10px 0px 40px 0px;
}
.header-container {
	display: flex;
	min-height: 104px;
	justify-content: space-between;
	align-items: center;
}
.container {
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0px 10px;
}
.menu__item{
	font-size: 20px;
	font-weight: 400;
	
}
.menu__item:not(:last-child) {
	margin-right: 110px;
}
.menu__link {
	color: #000
}
.header__phone {
}
@media(max-width: 992px) {
	.menu__item:not(:last-child) {
		margin-right: 80px;
	}
}
@media(max-width:767px){
	.header {
		margin: 10px 0px 20px 0px;
	}
    .menu__item {
        font-size: 14px;
    }
	.menu__item:not(:last-child) {
		margin-right: 25px;
		margin-bottom: 10px;
      	}	
    .menu__list{
		align-items: inherit	;
	}	
}
@media(max-width: 596px) {
	.menu__list{
		display: block ;
}
}
/*----------Mainblock---------------------*/
.page {
}
.page__mainblock {
}
.main-block {
}
.mainblock__container {
}
.container {
}
.main-block__body {
}
.main-block__title {
    font-size: 14px;
    font-weight: 600;
    color: #737373;
}
.main-block__image {
    padding: 40px 0px 80px 0px;
}
.main-block__image img {
    width: 100%;
}
@media(max-width:767px) {
	.main-block__image{
		padding: 20px 0px 40px 0px;
	}
}
@media(max-width: 479px) {
    .main-block__image {
        padding: 20px 5px 30px 5px;
    }
}
/*-----------------------------about us -------------------------------*/
.page__about-us {
}
.about-us {
}
.about-us__container {
}
.container {
}
.about-us__body {
	display: flex;
}
.about-us__column {
max-width: 649px;
}
.item__about-us-content {
	background: #fff;
	padding: 0px 0px 50px 36px;
	font-size: 14px;
	font-weight: 400;
	color: #404040;
	letter-spacing: 0.2px;
	line-height: 141%;
}
.item__about-us-content p {
	padding-right: 74px;
}
.item__about-us-content img{
	
}
.item__about-us-content ul {
	padding: 20px 0px;
}
.item-title{
	padding-top: 20px;
padding-bottom: 30px;
font-size: 30px;
font-weight: 500;
line-height: 125%;
color: #404040;
}
.about-us__partners-first-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px;
}
.about-us__partners-second-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px;
}
.about-us__partners-third-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px;
}
.about-us__mission {
	background-color: #fff;
	margin: 30px 0px;
	padding: 20px 30px 20px 30px; 
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2px;
	line-height: 171%;
}

.about-us__requisits {
}
.about-us__column-short {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	}

.column-short__body {
	background: white;
	margin-left: 20px;
	
}
.column-short__body-item {
	font-size: 30px;
	padding: 22px 105px 22px 59px;
	transition: all 1.0s ease 0.1s
	}
	.column-short__body-item:not(:last-child) {
		border-bottom: solid 1px #f3f3f3;
	}
.column-short__body-item a{
	color: #404040;
	transition: all 1.0s ease 0.1s
}
.column-short__body-item:hover{
		background: #eaf095;
}
.about-us__requisits{
background-color: #fff;
font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2px;
	line-height: 171%;
	padding: 20px 30px 20px 30px; 
	margin: 30px 0px 30px  20px;
}
@media (max-width: 1050px) {
.about-us__column-short{
	display: none; 
}
.about-us__body{
	justify-content: center;
}
}
@media (max-width: 661px) {
	.about-us__partners-first-row{
		flex-direction: column;
			}
			.about-us__partners-second-row{
				flex-direction: column;
			}
}
@media(max-width: 479px) {
	.about-us__partners-third-row{
		flex-direction: column;
	}
	.item__about-us-content p {
		padding-right: 20px;
	}
	.item__about-us-content{
		font-size: 12px;
		padding-bottom: 25px;
	}
	.about-us__mission{
		font-size: 12px;
	}
}
/*----------------footer----------------*/
.footer {

}
.footer__top {
	font-family: roboto, Arial, Helvetica, sans-serif;
	background: #615B5B;
}
.footer__main {
}
.footer__text-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	font-weight: 400;
	line-height: 116%;
	color: white;
	padding-top: 14px;
}
.footer-top__documents{
padding-top: 14px;
}
.footer-top__items{

}
.footer-top__items a {
	color:#337AB7;
}
.footer-top__items:not(:last-child){
	margin: 0px 0px 5px 0px;
}
.footer-top__coordinats {
}
.footer-top__phonenumber {
}
.footer-top__agreement {
}
.footer-top__politic {
	margin-bottom: 20px;
}
.footer-top__text {
	padding-bottom: 30px;
	font-size: 16px;
	color: #D0CCCC;
}
.footer-bottom {
	padding: 14px 0px;
	
}
.footer-bottom h3 {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.2px;
	color: #737373;
	line-height: 171%;
	padding: 10px ;
}
@media (max-width: 767px) {
	.footer__text-top {
		font-size: 18px;
	}
	.footer-top__text{
		padding-bottom: 15px;
			font-size: 12px;
	}
}
@media (max-width:570px) {
	.footer__text-top {
		display: inherit;
	}
	.footer__text-top {
		font-size: 14px;
	}
	.footer-bottom h3{
		font-size: 10px;
	}
}